numpy
torch
scipy
aiohttp
beautifulsoup4
webencodings
protobuf
tensorflow==2.10.0
tensorflow_hub
pillow
nvidia-tensorrt
nvidia-pyindex
python-multipart
fastapi
uvicorn
opencv-python
matplotlib
pydantic==1.8.2
typing_extensions==3.10.0.2
