numpy
torch
scipy
aiohttp
beautifulsoup4
webencodings
protobuf>=3.19.6
tensorflow==2.10.0
tensorflow_hub
pillow
nvidia-tensorrt
nvidia-pyindex
python-multipart
fastapi
uvicorn
opencv-python
matplotlib
pydantic==1.8.2
typing_extensions>=4.5.0
