body {
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    font-family: Arial, sans-serif;
}

.main-container {
    position: relative;
    /* min-width: 600px;
    min-height: 800px; */
    /* max-height: 90vh;  */
    background-color: #333;  /* Dark grey background */
    border: 2px solid #000;  /* Black border */
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;  /* Include border and padding in element's total width and height */
}

#backgroundCanvas {
    position: fixed;  /* Change this from absolute to fixed */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content-container {
    position: relative;
    z-index: 1;
    text-align: center;
    max-height: 90vh;  
    overflow-y: auto;  
    width: 100%;  
    padding: 20px;  
}

form {
    width: 80%;
    margin: 0 auto;
}

label, input[type="file"], button, #downloadButton {
    width: 100%;
    margin-bottom: 20px;
}

button, #downloadButton {
    padding: 10px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

button:hover, #downloadButton:hover {
    background-color: #45a049;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

button, #downloadButton {
    padding: 10px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;  /* Add this line */
    width: 80%;
    box-sizing: border-box;  /* Include padding in element's total width */
    text-align: center;  /* Center the text */
}

#downloadButton {
    display: none; /* This hides the button initially */
    /* the rest of your styles... */
}

.spinner {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid lime;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    display: none;
    z-index: 9999;
    position: absolute;
    left: 50%;
    top: 90%;  /* Adjust this to move the spinner down */
    transform: translate(-50%, -50%);
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

a {
    display: block;
    margin-top: 20px;
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    color: #45a049;
}


#footer {
    flex: 0 0 100%;
    text-align: center;
    margin-top: 20px;
    color: #454545;
}

.footer-logo{
    height: 2em;
    vertical-align: middle;
    display: inline;
}

a.inline-link {
    display: inline;
    margin-top: 0;  
}

.left-justify {
    text-align: left;
    width: 80%;  /* This should match the width of your form */
    margin: 0 auto;  /* Center the ul element */
    list-style-position: inside;  /* Position the bullets inside the ul */
}

.left-justify li a {
    display: inline;  /* Change from block to inline */
}

.green-italic {
    color: green;
    font-style: italic;
}

.bold-underline {
    font-weight: bold;
    text-decoration: underline;
}
